/* --- buttons --- */
.btn {
    margin: 8px;
}

.btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;

    overflow: hidden;
    z-index: 0;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:active {
        transition: none;
    }

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        overflow: hidden;
        width: 0;
        height: 100%;
        opacity: 0;
        z-index: -1;
        transform: translateX(-50%);
        transition: translateX 0.3s, width 0.3s, opacity 0.3s, background-color 0.3s;
    }

    &:hover,
    &.active {
        &:after {
            width: calc(100% + 2px);
            opacity: 1;
        }
    }

    &.active {
        cursor: default;
    }

    & > span {
        flex: 1;
    }
}

$name: 'small' !default;
@mixin btn($name) {
    @if $name == 'super-small' {
        .btn-#{$name} {
            padding: 2px 8px;
            font-size: 10px;
            min-height: 16px;

            &.btn-icon {
                padding: 4px;

                &-left {
                    & > .fas {
                        margin-right: 8px;
                    }
                }

                &-right {
                    & > .fas {
                        margin-left: 8px;
                    }
                }
            }
        }
    }
    @else if $name == 'small' {
        .btn-#{$name} {
            padding: 4px 16px;
            font-size: 12px;
            min-height: 24px;

            &.btn-icon {
                padding: 5px;

                &-left {
                    & > .fas {
                        margin-right: 10px;
                    }
                }

                &-right {
                    & > .fas {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    @else if $name == 'medium' {
        .btn-#{$name} {
            padding: 8px 24px;
            font-size: 14px;
            min-height: 32px;

            &.btn-icon {
                padding: 10px;

                &-left {
                    & > .fas {
                        margin-right: 10px;
                    }
                }

                &-right {
                    & > .fas {
                        margin-left: 10px;
                    }
                }
            }
        }
    }
    @else if $name == 'big' {
        .btn-#{$name} {
            padding: 12px 30px;
            font-size: 14px;
            min-height: 40px;

            &.btn-icon {
                padding: 12px;

                &-left {
                    & > .fas {
                        margin-right: 12px;
                    }
                }

                &-right {
                    & > .fas {
                        margin-left: 12px;
                    }
                }
            }
        }
    }
}

@include btn('super-small');
@include btn('small');
@include btn('medium');
@include btn('big');

$color-name: 'white' !default;
@mixin color-btn($color-name) {
    @if $color-name == 'white' {
        .btn-#{$color-name} {
            background-color: transparent;
            border: 1px solid $border-color;
            color: $btn-white;

            &:after {
                background-color: #D7EBFF;
            }

            &:active,
            &.active {
                &:after {
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.06);
                }
            }

            &.invert {
                background-color: transparent;
                color: $btn-white;
            }
        }
    }
    @else if $color-name == 'transp' {
        .btn-#{$color-name} {
            &:after {
                background-color: #d7ebff;
            }

            &:active,
            &.active {
                &:after {
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.06);
                }
            }
        }
    }
    @else if $color-name == 'danger' {
        .btn-#{$color-name} {
            background-color: $btn-danger;
            color: #fff;

            &:after {
                background-color: #F76666;
            }

            &:active,
            &.active {
                &:after {
                    background-color: $btn-danger;
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                }
            }

            &.invert {
                background-color: transparent;
                border: 1px solid $btn-danger;
                color: $btn-danger;

                &:hover {
                    border-color: #F76666;
                    color: #fff;
                }

                &:active {
                    border-color: $btn-danger;
                }
            }
        }
    }
    @else if $color-name == 'general' {
        .btn-#{$color-name} {
            background-color: $btn-general;
            color: #fff;

            &:after {
                background-color: #4E82D4;
            }

            &:active,
            &.active {
                &:after {
                    background-color: $btn-general;
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                }
            }

            &.invert {
                background-color: transparent;
                border: 1px solid $btn-general;
                color: $btn-general;

                &:hover {
                    border-color: #4E82D4;
                    color: #fff;
                }

                &:active {
                    border-color: $btn-general;
                }
            }
        }
    }
    @else if $color-name == 'info' {
        .btn-#{$color-name} {
            background-color: $btn-info;
            color: #fff;

            &:after {
                background-color: #45D5D5;
            }

            &:active,
            &.active {
                &:after {
                    background-color: $btn-info;
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                }
            }

            &.invert {
                background-color: transparent;
                border: 1px solid $btn-info;
                color: $btn-info;

                &:hover {
                    border-color: #45D5D5;
                    color: #fff;
                }

                &:active {
                    border-color: $btn-info;
                }
            }
        }
    }
    @else if $color-name == 'success' {
        .btn-#{$color-name} {
            background-color: $btn-success;
            color: #fff;

            &:after {
                background-color: #5AD895;
            }

            &:active,
            &.active {
                &:after {
                    background-color: $btn-success;
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                }
            }

            &.invert {
                background-color: transparent;
                border: 1px solid $btn-success;
                color: $btn-success;

                &:hover {
                    border-color: #5AD895;
                    color: #fff;
                }

                &:active {
                    border-color: $btn-success;
                }
            }
        }
    }
    @else if $color-name == 'warning' {
        .btn-#{$color-name} {
            background-color: $btn-warning;
            color: #fff;

            &:after {
                background-color: #F4A832;
            }

            &:active,
            &.active {
                &:after {
                    background-color: $btn-warning;
                    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.2);
                }
            }

            &.invert {
                background-color: transparent;
                border: 1px solid $btn-warning;
                color: $btn-warning;

                &:hover {
                    border-color: #F4A832;
                    color: #fff;
                }

                &:active {
                    border-color: $btn-warning;
                }
            }
        }
    }
    @else if $color-name == 'disabled' {
        .btn-#{$color-name}, .#{$color-name}, .btn[disabled] {
            background-color: $btn-disabled !important;
            border: 1px solid #EDEDED;
            color: #A5A5A5;
            cursor: default;
            overflow:visible;
            &:before, &:after {
                display:none;
            }
        }
    }
}

@include color-btn('white');
@include color-btn('transp');
@include color-btn('danger');
@include color-btn('general');
@include color-btn('info');
@include color-btn('success');
@include color-btn('warning');
@include color-btn('disabled');