* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    height: 100%;
}

body {
    position: relative;
	min-height: 100%;
    font-family: $ff-Rubik;
    font-size: 1.4rem;
    color: $color-main;
}

noscript {
    position: fixed;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 1.6rem;
    padding: 3%;
    background-color: #f00;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    z-index: 999;
}

.wrap {
    margin: 3vw auto;
    padding: 0 40px;
    max-width: 800px;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.hide {
    display: none !important;
}

button {
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.align-left     { text-align: left; }
.align-center   { text-align: center; }
.align-right    { text-align: right; }

h1, h2, h3,
h4, h5, h6 {
    font-weight: normal;
    color: $color-general;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}

li {
    list-style: none;
}

a {
    outline: none;
    color: $color-light;
    text-decoration: none;
}

table {
    width: 100%;
}

img {
    border: none;
}

textarea {
    resize: none;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.overflow {
    overflow: hidden;
}

.height-full { height: 100%; }
.width-full  { width: 100%; }

/* Placeholder */
::-webkit-input-placeholder {opacity: 1; text-overflow:ellipsis; color: $ph-normal; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
::-moz-placeholder          {opacity: 1; text-overflow:ellipsis; color: $ph-normal; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
:-ms-input-placeholder      {opacity: 1; text-overflow:ellipsis; color: $ph-normal; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}

:focus::-webkit-input-placeholder {opacity: 0; text-overflow:ellipsis; color: $ph-normal; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
:focus::-moz-placeholder          {opacity: 0; text-overflow:ellipsis; color: $ph-normal; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
:focus:-ms-input-placeholder      {opacity: 0; text-overflow:ellipsis; color: $ph-normal; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}

.has-error input::-webkit-input-placeholder {opacity: 1; text-overflow:ellipsis; color: $ph-error; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.has-error input::-moz-placeholder          {opacity: 1; text-overflow:ellipsis; color: $ph-error; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.has-error input:-ms-input-placeholder      {opacity: 1; text-overflow:ellipsis; color: $ph-error; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}

.has-error input:focus::-webkit-input-placeholder {opacity: 0; text-overflow:ellipsis; color: $ph-error; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.has-error input:focus::-moz-placeholder          {opacity: 0; text-overflow:ellipsis; color: $ph-error; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
.has-error input:focus:-ms-input-placeholder      {opacity: 0; text-overflow:ellipsis; color: $ph-error; -webkit-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease;}
