.form-wrapper {
	position: relative;
    margin: 32px auto;
    width: 100%;
	max-width: 600px;
	background-color: #ffffff;
	padding: 32px;
}

.form-field-wrapper {
	margin-bottom: 10px;
    display: block;
}

.form-label {
	display: block;
	color: $title-color;
	font-size: 14px;
	padding: 8px;
}

.form-field,
.form-select,
.form-textarea {
    font-family: $font-reg;
	color: $form-color;
	font-size: 12px;
	border: 1px solid $form-border;
    border-radius: 0;
	outline: none;
	padding: 8px;
	width: 100%;
	background-color: $form-bg;
	text-overflow: ellipsis;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
	transition: border 0.2s ease-in-out;

	&.form-small {
		padding: 6px;
	}
}

.form-select {
	background-image: url('../img/arrow-down.svg');
	background-position: calc(100% - 8px);
	background-repeat: no-repeat;
	background-size: 10px;
    -webkit-appearance: auto;
    -moz-appearance:    auto;
	appearance:         auto;
}

.form-textarea {
	height: 150px;
	
	&.form-small {
		height: 30px;
		resize: auto;
	}
}

.form-field:focus,
.form-textarea:focus {
	border: 1px solid $form-focus;
}

.field-error {
	border: 1px solid #FF0000;
}