.title {
    font-size: 20px;
    margin-bottom: 16px;
    color: $color-main;
    font-weight: 600;
}

.row-list {
    margin: 0 -24px 16px;
    padding: 16px;
    background-color: $form-bg;
    border-radius: 4px;
}

.form-control {
    min-width: 100%;
    min-height: 32px;
    border-radius: 4px;
}

.sort-icon {
    color: $color-general;
    font-size: 20px;
    cursor: pointer;
}
.cancel-icon {
    color: $color-danger;
    font-size: 18px;
    cursor: pointer;
}

pre {
    max-width: 400px;
    margin: 0 auto 40px;
    padding: 16px;
    border-radius: 4px;

    &.bg-save {
        background-color: rgba(#f0f2f5, 0.5);
    }
}

.error {
    display: none;
    position: absolute;
    bottom: -10px;
    left: 16px;
    font-size: 10px;
    color: #fff;
    padding: 2px 4px;
    border-radius: 3px;
    background-color: red;
}

.has-error {
    select {
        border-color: red;
    }

    .error {
        display: inline-block;
    }
}