// Main Color
$main-color: #696969;
$title-color: #000;
$main-link-color: #2e29ff;
$bg-header: #a2d9f3;
$border: #eee;

// Buttons Color
$btn-bg: #2cc6ff;
$btn-border: #2cc6ff;
$btn-color-1: #fff;
$btn-color-2: #333;

// Forms
$form-bg: #f0f2f5;
$form-border: #daddeb;
$form-color: #333;
$form-focus: #43CBE1;

// Placeholder Color
$ph-normal: #c4c8bf;
$ph-error: #ec5151;

// Fonts
$font-reg: Arial, Helvetica, sans-serif;