/* width */
$min-width: 1280px;

/* font */
$ff-Rubik: "Rubik",Arial,sans-serif;

/* color text */
$color-main: #3c3c3c;
$color-light: #878787;
$color-disabled: #a1a1a1;
$color-danger: #da4444;
$color-general: #3c67ab;
$color-info: #3bbebe;
$color-success: #10bb61;
$color-warning: #ea940d;

/* color button */
$btn-danger: $color-danger;
$btn-white: #3c3c3c;
$btn-disabled: #f4f4f4;
$btn-general: $color-general;
$btn-info: $color-info;
$btn-success: $color-success;
$btn-warning: $color-warning;

/* border */
$border-color: #d1d1d1;
$border-checkbox: #a7a7a7;

// Placeholder Color
$ph-normal: #c4c8bf;
$ph-error: #ec5151;

// Forms
$form-bg: #f0f2f5;
$form-border: #daddeb;
$form-color: #333;
$form-focus: #43CBE1;